.exit-icon {
  animation: rotateOut 350ms ease-in;
  will-change: transform;
}

.enter-icon {
  animation: rotateIn 500ms cubic-bezier(.07, .49, .61, 1.3);
  will-change: transform;
}

.bump-icon {
  animation: bump 300ms cubic-bezier(.26, -0.33, .5, 1);
  will-change: transform;
}

@keyframes bump {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(125%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes rotateIn {
  from {
    transform: scale(135%) rotate(-30deg);
  }

  to {
    transform: scale(100%) rotate(0deg);
  }
}

@keyframes rotateOut {
  from {
    transform: scale(100%) rotate(0deg);
  }

  to {
    transform: scale(135%) rotate(30deg);
  }
}