.page-content {
  animation: dropIn 375ms ease-out, fadeIn 850ms;
  will-change: transform;
}

@keyframes dropIn {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
